<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <a routerLink="/tasks">Go Back to list</a>

      <h3>Task Detail</h3>

      <hr>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Task Name</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{task.name}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{task.description}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


